

 body {
    height: 102%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    position: relative;
    border-left: 80px solid black;
    border-right: 80px solid black;
    box-sizing: border-box;
    
     
}  


 h1 {
    float:left;
    background-color:#4aaaa5;
    text-align: center;
    margin-left: 110px;
    margin-bottom: 0px;
    margin-top:0px;
    padding: 15px 15px 15px 15px;

 } 

 
 .A{
     border: 2px solid grey;
     padding:220px 200px  220px 105px;
     background-color: #cccccc;
     border-bottom-color:#4aaaa5;
     border-bottom-width: 10px;
     clear: left;
     height:102px;
    
    
     
    }
 
 .about {
     border: 2px solid #cccccc;
     background-color:white;
     width:960px;
     padding: 15px 20px 15px 20px;
     margin-top:-190px;
     height:400px;
     
    
     
 }
 
 img {
     float:left;
     padding-right: 20px;
 }
 
 h2{
     border-bottom: 2px solid #cccccc;
     color: #4aaaa5;
     padding-bottom: 20px;
 }
 
 nav{
     list-style-type:none;
     float: right;
     margin-bottom:0px;
     margin-top: 30px;
     margin-right: 100px;
 }
   li{
       display: inline;
   }
 
 footer{
     background-color:#666666;
     text-align: center;
     color:#cccccc;
     border-bottom-width:30px;
     height:23px;
     padding-top:50px;
     margin-bottom:0px;
    
    
 }
 
 .E{
    
     background-color: white;   
     margin-top:-190px;
     height:350px;
     padding: 15px 20px 15px 20px;
 }

 form{
     margin-left: -40px;
 }
    input{
      width: 850px;
 }

   .Line-Height {
     line-height: 120px;
     
 }
 
 
 

 text{
    background-color: #4aaaa5;
    padding: 8px 15px 8px 15px;
    color: white;

 }
 









 


 
 
  .G{
     border: 2px solid #cccccc;
     background-color: white;
     height: 420px;
     width: 440px;
     margin-left: 240px;
     padding: 40px 40px 40px 40px;
     margin-top: -200px;
     
  }
 
  .Image5{
      position: relative;
      bottom: -35px;
      left: 0px;
  }
 .Image5 .Cascadings{
      position: absolute;
      top: 290px;
      left:0px; 
  } 
 
  .Image4{
      position: relative;
      left: 11px;
      bottom: -21px;
  }

  .Image4 .ComputerSC{
      position: absolute;
      right: 127px;
      top: 180px;
  }
 
  .Image3 {
      position: relative;
      left: 0px;
      bottom: -20px;
  }

  .Image3 .Javascript{
      position: absolute;
      left: 1px;
      bottom: -208px;
  }
 
  .Image1 {
      position: relative;
    
  }

  .Image1 .Technology{
      position: absolute;
      top: 70px;
      
    }
 
  .Image2{
      position: relative;
      right: -10px;
  }
   .Image2 .DStructure {
       position: absolute;
       right:127px;
       top: 70px;
   }
 


 