

 body {
    height: 102%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    position: relative;
    border-left: 80px solid black;
    border-right: 80px solid black;
    box-sizing: border-box;
    
     
}  


 h1{
    float:left;
    background-color:#4aaaa5;
    text-align: center;
    margin-left: 110px;
    margin-bottom: 0px;
    margin-top:0px;
    padding: 15px 15px 15px 15px;

 } 
 
 
 .A{
     border: 2px solid grey;
     padding:220px 200px  220px 105px;
     background-color: #cccccc;
     border-bottom-color:#4aaaa5;
     border-bottom-width: 10px;
     clear: left;
     height:102px;
    
    
     
    }
 
 .about {
     border: 2px solid #cccccc;
     background-color:white;
     width:960px;
     padding: 15px 20px 15px 20px;
     margin-top:-190px;
     height:400px;
     
    
     
 }
 
 img {
     float:left;
     padding-right: 20px;
 }
 
 h2{
     border-bottom: 2px solid #cccccc;
     color: #4aaaa5;
     padding-bottom: 20px;
 }
 
 nav{
     list-style-type:none;
     float: right;
     margin-bottom:0px;
     margin-top: 30px;
     margin-right: 100px;
 }
   li{
       display: inline;
   }
 
 footer{
     background-color:#666666;
     text-align: center;
     color:#cccccc;
     border-bottom-width:30px;
     height:23px;
     padding-top:50px;
     margin-bottom:0px;
    
    
 }
 
 

 .E{
    
     background-color: white;   
     margin-top:-190px;
     height:350px;
     padding: 15px 20px 15px 20px;
 }

 form{
     margin-left: -40px;
 }
    input{
      width: 850px;
 }

   .Line-Height {
     line-height: 120px;
     
 }
 
 
 

 text{
    background-color: #4aaaa5;
    padding: 8px 15px 8px 15px;
    color: white;

    
    
 }
 

 /*


 h3{
     border-bottom: solid;
 }
 
  .G{
     border: solid;
     background-color: white;
     height: 300px;
     width: 440px;
     margin-left: 240px;
     
 
 
  .S{
      clear: left;
  }
 
  .M {
      position: relative;
      right: 220px;
      bottom: -70px;
      
  }
 
  .L{
      position: relative;
      right: 70px;
      bottom: -70px;
  }
 
  .O {
      position: relative;
      right: 100px;
      bottom: -140px;
  }
 
  .U {
      position: relative;
      right: -20px;
  }
 
  .V {
      position: relative;
      right:-50px;
  }
 


  /*
  .Zika {
      display:none;
  }
  .Chea {
 
 display: none;
 }
 
 */
 
  
 
 